<!DOCTYPE html>
%html{:lang => "en"}
%head
  %meta{:charset => "UTF-8"}/
  %title RICKYの謝罪
%body
  .content
    .text-center
      =image_tag "ricky_sad.png"
    .heading
      .header
        .text ごめんなさい。
      .subheader
        .text 「なんとかなる」は間違っていました
    .description
      .text
        みなさんは頑張って自信作をプロデュースしたと思いますが、僕は見せられるものがありません。1ヶ月で作るWebアプリなのに、作ろうとしたものが自分とって大きすぎました。たとえ小さな機能でも実装しようとするたびに壁にぶつかります。そんな壁にぶつかりすぎて、時間内に作れませんでした。どのようなモノを作ろうとしたと言うと…
      %h1 ソーシャル目覚ましサービス！
      .text
        では技術的になにが必要だったでしょうか？
      %ol.circles-list
        %li
          .text
            Facebookでログインする
        %li
          .text
            Twilioで2つの電話を同時に繋げる
        %li
          .text
            その電話を決められた時間に掛ける
      .text
        自分のレベルの割には外部サービスをたくさん使おうとしました。各サービスの使い方をまともに理解せずに連携させようとしたツケが回ったのでしょう。今後はもっと計画的にアプリを作りたいと思います。
      %br/
      .text
        自分で開発を始めて、ウェブサービスを作る大変さを知りました。逆にこれらを作るエンジニアにリスペクトを感じます。
        %br/
        %span.bold
          だからこそ将来、クラウドワークスの大場さんのようになりたいです！
      %br/
      .ooba-image.text-center
        =image_tag "ooba_san.jpg"
    .yurusu
      .speech
        .inner
          .text#number-of-yurusu
            = @number_of_yurusu
      .button.btn.btn-info#yurusu{ data: { number_of_yurusu: @number_of_yurusu } }
        ゆるす♡
